body {
  background-color: rgb(255, 255, 255);
}
.layout {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: black 2px solid; */
}
.nav-bar {
  padding-bottom: 20px;
}
.nav-list {
  width: 60%;
  padding: 0;
  margin: 20px auto;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  /*  border: black solid 2px; */
  justify-content: space-around;
}
.nav-item:hover,
.nav-item:focus {
  color: rgb(189, 23, 255);
}
.nav-item {
  list-style: none;
  font-size: 1.1rem;
  /*   border: red solid 2px; */
}

/*Title*/

.title {
  margin: 0 auto;
  /* border: darkblue 2px solid; */
  text-align: center;
}
.flexbox-container {
  /* border: brown solid 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
.flexbox-item {
  width: 30%;
}
.flexbox-item,
.flexbox-item > h3 {
  /* border: green 2px solid; */
  text-align: center;
}
.flexbox-item > p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-item {
    padding-bottom: 10px;
  }
}
